.clickstats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  background-color: transparent;
  padding: 0px;
}

.clickstats {
  background-color: var(--CONTAINER-COLOR);
  border-radius: 2px;
  padding: 8px;

  &__label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__count {
    font-size: 16px;
    color: var(--FONT-COLOR2);
    /*  font-weight: 500; */
  }

  &--left {
    /* background-color: var(--ALERT-COLOR); */
  }
}
