@use "base" as *;

.clickstats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  background-color: transparent;
  padding: 0px;

  @include mq(800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.clickstats {
  background-color: var(--CONTAINER-COLOR);
  border-radius: 2px;
  padding: 8px;

  &__label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__count {
    font-size: 16px;
    color: var(--FONT-COLOR2);
    /*  font-weight: 500; */
  }

  &--left {
    /* background-color: var(--ALERT-COLOR); */
  }

  &--right {
  }

  &--alert {
    background-color: var(--ALERT-COLOR);
    /* animation-name: alert-anim;
    animation-duration: 4s; */
  }
}

/* @keyframes alert-anim {
  0% {
    background-color: var(--CONTAINER-COLOR);
  }
  10% {
    background-color: var(--ALERT-COLOR);
  }
  100% {
    background-color: var(--ALERT-COLOR);
  }
} */
