@use "base" as *;

.settings {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  /* background-color: transparent; */
  /* padding: 0px; */

  @include mq(800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  font-size: 16px;
  font-weight: 700;
  /* text-transform: uppercase; */

  &__label {
    /* color: var(--FONT-COLOR2); */
    /* font-weight: 600; */
    /* font-size: 14px; */
  }

  &__sublabel {
    color: var(--FONT-COLOR2);
    /* font-size: 14px; */
  }

  &--options {
  }
}
