/* @import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1400px;
  padding: 0 25px;
  margin: 0 auto 46px;
}

.footer {
  font-size: 12px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

/* VARIABLES */
:root {
  /* FONTS */
  --FF: "Kiwi Maru", serif;
  --FF-HEADINGS: "Fugaz One", cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --BGCOLOR-FADE: #0acdff;
  /* --BGCOLOR: #dcfffb; */
  --BGCOLOR: #fae3b1;
  --BGIMAGE: linear-gradient(
    to right top,
    var(--BGCOLOR),
    rgb(253, 243, 225),
    var(--BGCOLOR-FADE)
  );
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: white;
  --FONT-COLOR: #000;
  --HEADER-BGCOLOR: black;
  --HEADER-COLOR: white;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: white;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: black;
  --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
  --NAV-BGCOLOR: white;

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TOPBOT: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR-FADE: gray;
    --BGCOLOR: black;
    --BODY-BGCOLOR: #333;
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: black;
    --FONT-COLOR: whitesmoke;
    --HEADER-COLOR: whitesmoke;
    --HERO-COLOR: #333;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
    --NAV-BGCOLOR: rgb(20, 20, 20);
  }
} */

/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  /* background-image: var(--BGIMAGE); */
  /* background: linear-gradient(
      217deg,
      rgba(10, 205, 255, 0.8),
      rgba(255, 0, 0, 0) 45%
    ),
    linear-gradient(127deg, rgba(220, 255, 251, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(253, 243, 225, 0.8), rgba(0, 0, 255, 0) 70.71%); */

  /* height: 100%;
  /* margin: 0; */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.console-box {
  height: 200px;
  width: 400px;
  resize: both;
  text-align: left;
  white-space: pre-wrap;
  /* position: relative;
  left: 0;
  right: 0; */
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  background-color: #a02b2b;
  color: white;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px 20px;
  border: 1px solid #632525;
  font-weight: bold;
  margin-top: 4px;
  border-radius: 4px;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #632525;
  /* color: white; */
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}

button:active {
  background-color: #a02b2b;
  /* box-shadow: 0 5px #666; */
  /* transform: translateY(4px); */
}

.header {
}

.header__title {
  /* width: 100%; */
  font-size: xx-large;
  font-weight: bold;
}

.header__subtitle {
  font-size: x-large;
}
